/* Nav styles */
.logo {
  margin-right: auto;
  text-decoration: none;
  cursor: pointer;
  color: #191919;
  font-family: "Oswald";
  font-size: 1.2rem;
}

#nav__list {
  list-style: none;
}

.page__menu li {
  display: inline-block;
  margin: 0 3px;
}

.page__menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10%;
}
@media screen and (max-width: 768px) {
  .page__menu {
    text-align: center;
    padding: 0 5%;
  }
  .logo {
    display: none;
  }
}
#nav__list a {
  text-decoration: none;
  color: #ff3d33;
  font-family: "Oswald";
  font-size: 1.2rem;
  padding: 0 5px;
  transition: opacity 0.3s;
}

#nav__list:hover a:not(:hover) {
  opacity: 0.5;
}

/* Header Styles */
.page__header {
  background: #fefefd;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  transition: all 300ms ease-in-out;
}

/* scroll  */

.scroll-down .page__header {
  transform: translate3d(0, -100%, 0);
}

.scroll-up .page__header {
  filter: drop-shadow(0 -10px 20px rgb(170, 170, 170));
  border-bottom: 5px solid #fefefd;
}

.scroll-level .page__header {
  border-bottom: 2px solid #070f1c;
}
